<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h2><span class="tim-note"></span>Gestionar Interacción</h2>
            </div>
            <div class="card-body">
                <div id="crearpqrs">
                    <div class="card-title">
                    </div>
                    <div class="row">
                        <div class="col-md-12 order-md-2">
                            <form #forma="ngForm">
                                <div class="row">
                                    <div class="form-group col-md-4 mb-4">
                                        <label for="id_interaccion">Numero Interacción</label>
                                        <!-- <input [(ngModel)]="interaccion.id_interaccion" name="id_interaccion" class="form-control" placeholder="id"> -->
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-4">
                                        <label for="objetivo_interaccion">Objetivo</label>
                                        <!--<select [(ngModel)]="interaccion.objetivo_interaccion" name="objetivo_interaccion" class="form-control" id="objetivo_interaccion" required="">
                                                  <option value="">Seleccione...</option>
                                                                                      <option value="NuevoCliente">Nuevo cliente</option>
                                                                                      <option value="SolicitudOferta">Solicitud Oferta</option>
                                                                                      <option value="SolicitudVisita">Solicitud Visita</option>
                                                                                      <option value="NuevoPedido">Nuevo Pedido</option>
                                                                                    </select> -->
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 mb-4">
                                        <label for="fecha_interaccion">Fecha</label>
                                        <!-- <input [(ngModel)]="interaccion.fecha_interaccion" type="date" name="fecha" class="form-control" placeholder="yyyy-MM-dd"> -->
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4 mb-4">
                                        <label for="tipo_interaccion">Interacción</label>
                                        <!-- <select [(ngModel)]="interaccion.tipo_interaccion" name="tipo_interaccion" class="form-control" id="tipo_interaccion" required="">
                                                                                          <option value="">Seleccione...</option>              
                                                                                          <option value="correo">Correo Electronico</option>
                                                                                          <option value="paginaWeb">Pagina Web</option>
                                                                                        </select> -->
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-4">
                                        <label for="estado_interaccion">Estado</label>
                                        <!-- <select [(ngModel)]="interaccion.estado_interaccion" name="estado_interaccion" class="form-control" id="estado_interaccion" required="">
                                                                                              <option value="">Seleccione...</option>                 
                                                                                              <option value="creacion">Abierta</option>
                                                                                              <option value="creacion">Cerrada</option>
                                                </select> -->
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-4">
                                        <label for="id_cliente">Id Cliente</label>
                                        <!-- <input [(ngModel)]="interaccion.id_cliente" name="id_cliente" type="text" class="form-control" id="id_cliente" placeholder="" value="" required=""> -->
                                        <div class="invalid-feedback">
                                            Valid last name is required.
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-6">
                                        <label for="acuerdos_interaccion">Acuerdos</label>
                                        <!-- <textarea [(ngModel)]="interaccion.acuerdos_interaccion" name="acuerdos_interaccion" type="text" class="form-control" id="acuerdos_interaccion" placeholder="" value="" required=""> 
                                                </textarea> -->
                                    </div>

                                    <div class="col-md-6 mb-6">
                                        <label for="propuestas_al_cliente">Propuesta</label>
                                        <!-- <textarea [(ngModel)]="interaccion.propuestas_al_cliente" name="propuestas_al_cliente" type="text" class="form-control" id="propuestas_al_cliente" placeholder="" value="" required=""> 
                                                                                    </textarea> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-6">
                                        <label for="comentarios_del_cliente">Comentarios</label>
                                        <!-- <textarea [(ngModel)]="interaccion.comentarios_del_cliente" name="comentarios_del_cliente" type="text" class="form-control" id="comentarios_del_cliente" placeholder="" value="" required=""> 
                                                                                    </textarea> -->
                                    </div>

                                    <div class="col-md-6 mb-6">
                                        <label for="observacion_interaccion">Observación</label>
                                        <!-- <textarea [(ngModel)]="interaccion.observacion_interaccion" name="observacion_interaccion" type="text" class="form-control" id="observacion_interaccion" placeholder="" value="" required=""> 
                                                                                        </textarea> -->
                                    </div>
                                </div>
                                <div class="row center">
                                    <div class="col-md-2 mb-2"></div>

                                    <div class="col-md-2">
                                        <div class="form-control">
                                            <button [disabled]="!forma.valid" class="btn btn-primary btn-lg btn-danger" type="submit">Consultar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-1 mb-1"></div>
                                    <div class="col-md-2">
                                        <div class="form-control">
                                            <button [disabled]="!forma.valid" class="btn btn-primary btn-lg btn-danger" type="submit">Modificar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-1 mb-1"></div>
                                    <div class="col-md-2">
                                        <div class="form-control">
                                            <button [disabled]="!forma.valid" class="btn btn-primary btn-lg btn-danger" type="submit">Eliminar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-2"></div>
                                </div>

                                <br/>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Objetivo</th>
                                                    <th scope="col">Fecha</th>
                                                    <th scope="col">Interacción</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Id Cliente</th>
                                                    <th scope="col">Acuerdo</th>
                                                    <th scope="col">Propuesta</th>
                                                    <th scope="col">Comentarios</th>
                                                    <th scope="col">Observación</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Dakota Rice
                                                    </td>
                                                    <td>
                                                        Niger
                                                    </td>
                                                    <td>
                                                        Oud-Turnhout
                                                    </td>
                                                    <td class="text-primary">
                                                        $36,738
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Minerva Hooper
                                                    </td>
                                                    <td>
                                                        Curaçao
                                                    </td>
                                                    <td>
                                                        Sinaai-Waas
                                                    </td>
                                                    <td class="text-primary">
                                                        $23,789
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        Sage Rodriguez
                                                    </td>
                                                    <td>
                                                        Netherlands
                                                    </td>
                                                    <td>
                                                        Baileux
                                                    </td>
                                                    <td class="text-primary">
                                                        $56,142
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Philip Chaney
                                                    </td>
                                                    <td>
                                                        Korea, South
                                                    </td>
                                                    <td>
                                                        Overland Park
                                                    </td>
                                                    <td class="text-primary">
                                                        $38,735
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Doris Greene
                                                    </td>
                                                    <td>
                                                        Malawi
                                                    </td>
                                                    <td>
                                                        Feldkirchen in Kärnten
                                                    </td>
                                                    <td class="text-primary">
                                                        $63,542
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                        Mason Porter
                                                    </td>
                                                    <td>
                                                        Chile
                                                    </td>
                                                    <td>
                                                        Gloucester
                                                    </td>
                                                    <td class="text-primary">
                                                        $78,615
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>